@import url();
@import "reset.css";

#container {
  width: 100%;
}

.left-container {
  width: 50%;
}

.right-container {
  float: right;
  width: 50%;
  height: 100vh;
  background-color: #8ea69b;
}

.right-container img {
  width: 300px;
  height: 420px;
}
