@import url();
@import "reset.css";
@import "status-bar.css";

#container {
  width: 100%;
}

.left-container {
  width: 50%;
  z-index: 1;
}

.right-container {
  float: right;
  width: 50%;
  height: 100vh;
  background-color: #8ea69b;
  z-index: 0;
}

.right-container img {
  width: 300px;
  height: 420px;
}
