/* Reset */
body p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

/* Design */
body {
  background-color: #efefef;
}

.container {
  background-color: purple;
  color: white;
  max-width: 960px;
  margin: 100px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cover {
  background-color: orange;
  width: 60%;
  float: left;
}

.cover-photo {
  width: 100%;
  vertical-align: top;
}

.contents {
  width: 40%;
  float: left;
  text-align: center;
}

.contents h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .container {
    margin: 0;
  }
  .container,
  .cover,
  .contents {
    display: block;
    width: auto;
  }
  .contents {
    padding: 40px 0;
  }
}
